
<% content_for :content_header  do %>
  <section class="content-header">
    <h1>Nueva <small>Cotizacion</small></h1>

    <ol class="breadcrumb">
      <li><a href="/"><i class="fa fa-dashboard"></i> Home</a></li>
      <li><%= link_to "cotizaciones", cotizacions_path %></li>
      <li class="active">Nuevo</li>
    </ol>

  </section>
<% end %>
<%= render 'form' %>
<section class="content">
<%= link_to 'Atras', cotizacions_path, :class => 'btn btn-success' %>
</section>