
<h1>Bienvenido </h1>

<div class="imagen_logo">
   <%= image_tag "mys.jpg", :alt => "Confecciones", :title => "MyS" ,:align=> "middle"%>
</div>


<!DOCTYPE html>
<!--
	Transit by TEMPLATED
	templated.co @templatedco
	Released for free under the Creative Commons Attribution 3.0 license (templated.co/license)
-->

