<<<<<<< HEAD
<h1>Hola pizzeta</h1>

CALAVERA 

<p>________$$$$$$$$$$________ </p>
<p>_____d$$$$$$$$$$$$$b______ </p>
<p>_____$$$$$$$$$$$$$$$$_____ </p>
<p>____4$$$$$$$$$$$$$$$$F____ </p>
<p>____4$$$$$$$$$$$$$$$$F____ </p>
<p>____$$$$"_"$$$$"_"$$$$_____ </p>
<p>_____$$F___4$$F___4$$_____ </p>
<p>_____´$F___4$$F___4$"_____ </p>
<p>______$$___$$$$___$P______ </p>
<p>______4$$$$$"^$$$$$%_____ </p>
<p>_______$$$$F__4$$$$_______ </p>
<p>________"$$$ee$$$"________ </p>
<p>________._*$$$$F4_________ </p>
<p>_________$_____.$_________ </p>
<p>_________"$$$$$$"_________ </p>
<p>__________^$$$$___________ </p>
<p>_4$$c_______""_______.$$r_ </p>
<p>_^$$$b______________e$$$"_ </p>
<p>_d$$$$$e__________z$$$$$b_ </p>
<p>4$$$*$$$$$c____.$$$$$*$$$r </p>
<p>_""____^*$$$be$$$*"____^"_ </p>
<p>__________"$$$$"__________ </p>
<p>________.d$$P$$$b_________ </p>
<p>_______d$$P___^$$$b_______ </p>
<p>___.ed$$$"______"$$$be.___ </p>
<p>_$$$$$$P__________*$$$$$$_ </p>
<p>4$$$$$P____________$$$$$$" </p>
<p>_"*$$$"____________^$$P___ </p>
<p>____""______________^"____ </p>
=======
<!DOCTYPE html>
<!--
	Transit by TEMPLATED
	templated.co @templatedco
	Released for free under the Creative Commons Attribution 3.0 license (templated.co/license)
-->
>>>>>>> 7fed5afa8470c91e1e3eb49e565f753546912f65
