
 <% content_for :content_header  do %>
  <section class="content-header">
    <h1>Edicion <small><%= link_to pedido_path,  @pedido %></small></h1>

      <ol class="breadcrumb">
        <li><a href="/"><i class="fa fa-dashboard"></i> Home</a></li>
        <li><%= link_to "pedidos", pedidos_path %></li>
        <li class="active">Editar</li>
      </ol>
    
  </section>
<% end %>

<%= render 'form' %>
<section class="content">
<%= link_to 'Atras', pedidos_path, :class => 'btn btn-success' %>
</section>
